.new-products {
  text-align: center;
  padding: 40px;
  background: rgb(233,205,168);
  margin-right: 15px;
}

.new-products h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: black;
  font-family: "Montserrat";
}

.product-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  margin-right: 15px;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  border-radius: 8px;
}

.product-name {
  margin-top: 10px;
  font-size: 16px;
  font-weight: normal;
  font-family: "Montserrat";
}

/* Дополнительная информация, скрыта по умолчанию */
.product-info {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  background: white;
  padding: 15px;
  transition: bottom 0.3s ease-in-out;
}

/* Показываем блок при ховере */
.product-card:hover .product-info {
  bottom: 0;
}

.add-to-cart {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background-color: #d2b48c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  font-family: "Montserrat";
}

.add-to-cart:hover {
  background-color: #b3946c;
}
